<header class="site-header">

  <div class="container txt-center">
    <a href="#" class="nav-toogle js-menu-trigger sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <nav class="js-menu sliding-panel-content">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">главная</a></li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">о блоге</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li>
      </ul>
    </nav>
    <div class="js-menu-screen sliding-panel-fade-screen"></div>

    {% if page.id %}
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">
		{% include date.html date=page.date%}
		{% if page.author %} • {{ page.author }}{% endif %}
		{% if page.meta %} • {{ page.meta }}{% endif %}
	  </p>
    {% else %}
	  <br/>
      {% include search.html %}
    {% endif %}

  </div>

</header>
