<nav class="pagination" role="pagination">
  <span class="page-number">
    {{paginator.page}} из {{paginator.total_pages}}
  </span>
  <div>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="next" href="{{ "/" | prepend: site.baseurl }}" title="Новые статьи">
          &laquo; Назад
        </a>
      {% else %}
        <a class="next" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Новые статьи">
          &laquo; Назад
        </a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
      <a class="prev" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Старые статьи">
        Вперед &raquo;
      </a>
    {% endif %}
  </div>
</nav>
